<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Stubbed Token Refresh Succeeds</string>
			<key>Key</key>
			<string>stubbed_token_refresh_success</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Stubbed Token Refresh Delay (ms)</string>
			<key>Key</key>
			<string>stubbed_token_refresh_delay</string>
			<key>DefaultValue</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Launch Options</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Force Jailbroken</string>
			<key>Key</key>
			<string>launch_options.force_jailbroken</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Force Upgrade</string>
			<key>Key</key>
			<string>launch_options.force_upgrade</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Is Subsequent Login</string>
			<key>Key</key>
			<string>isSubsequentLogin</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>is_sqa_enabled</string>
			<key>Key</key>
			<string>isSQAEnabled_debug</string>
			<key>DefaultValue</key>
			<string>TRUE</string>
			<key>Values</key>
			<array>
				<string>TRUE</string>
				<string>FALSE</string>
				<string>ONE</string>
				<string>TWO</string>
			</array>
			<key>Titles</key>
			<array>
				<string>TRUE (already set)</string>
				<string>FALSE (must be set)</string>
				<string>ONE (can skip once)</string>
				<string>TWO (can skip twice)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
